body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:5px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #6B90D4;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    height: 30px;
  
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top:5px;
    margin-bottom:20px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-around;

}

article {
    background-color: white;
    padding:6px;
    width: 400px;
    margin:7px;
    text-align: center;
    height: 500px;


}

.article-but {
    text-decoration: none;
    background-color: #6B90D4;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    

}

footer {
    background-color: #6B90D4;
    padding:7px;
    display: flex;
}

footer a {
    margin-right:2px;
   
}

footer p {
    font-size: 24px;
} 
main img{
    width: 100%;
}

